<style>
.affix {
  top: 5px;
}
hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}
</style>
<nav class="col-sm-2">
    <ul class="nav nav-pills nav-stacked well" data-spy="affix" data-offset-top="72">
        <li role="presentation" class="{{active('')}}"><a href="/admin">Dashboard</a></li>
        <li role="presentation" class="{{active('accounts')}}"><a href="/admin/accounts">User Accounts</a></li>
        <li role="presentation" class="{{active('illnesses')}}"><a href="/admin/illnesses">Illnesses</a></li>
        <li role="presentation" class="{{active('drugs')}}"><a href="/admin/drugs">Drugs</a></li>
        <li role="presentation" class="{{active('payments')}}"><a href="/admin/payments">Payments</a></li>
        <hr>
        <li role="presentation"><a href="/3d">3D Navigation</a></li>
        <li role="presentation"><a href="/catalog">Catalog</a></li>
        <hr style="color:black">
        <li role="presentation"><a href="/account">My Account</a></li>
        <li role="presentation"><a href="/logout">Logout</a>
        </li>
    </ul>
</nav>
