<form id="drugsForm" action="/admin/uploads" method="post">
<div class="row">
    {% for page, pics in drugPics %}
    <div class="drugHidable" id="drugPage{{page}}"
    {% if page > 1 %}hidden{% endif %}>
        {% for pic in pics %}
        <div class="col-md-{{12 / picsPerRow}}">
            <p>{{ pic|name }}</p>
            <span role="button" class="thumbnail"><img src="{{pic}}"></span>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
</div>
</form>

<form id="drugPagesForm" action="/admin/uploads/drugs/" method="post">
<div class="btn-toolbar">
    <div class="btn-group">
        <button type="submit" name="pics_per_page" value="high" class="btn btn-default {% if picsNum == "high" %}active{% endif %}">
            <span class="glyphicon glyphicon-th"></span>
        </button>
        <button type="submit" name="pics_per_page" value="low" class="btn btn-default {% if picsNum == "low" %}active{% endif %}">
            <span class="glyphicon glyphicon-th-large"></span>
        </button>
    </div>
    <div class="btn-group">
        {% for page, pics in drugPics %}
        <a id="drugLink{{page}}" onclick="showDrugPage({{page}})"
        class="drugLinks btn btn-default
        {% if page == 1 %}active{% endif %}">{{page}}</a>
        {% endfor %}
    </div>
</div>
</form>
