<div class="media well">
    <div class="media-body">
        <h4 class="media-heading">{{ step.seqNum }}. {{ step.name }}</h4>
        <p>Description: {{ step.text }}</p>
          {% if step.pictures is not empty %}
              <h5>Pictures</h5>
              <ul>
                  {% for pic in step.pictures %}
                  <li>
                      <img src="{{ pic }}">
                  </li>
                  {% endfor %}
              </ul>
          {% endif %}
          {% if step.videos is not empty %}
              <h5>Videos</h5>
              <ul>
                  {% for vid in step.videos %}
                  <li>
                      <img src="{{ vid }}">
                  </li>
                  {% endfor %}
              </ul>
          {% endif %}
          {% if step.drugs is not empty %}
              <h5>Drugs</h5>
              <ul>
                  {% for drug in step.drugs %}
                  <li>
                      <p>ID: {{ drug.id }}</p>
                      <p>Name: {{ drug.name }}</p>
                      <p>Usage: {{ drug.text }}</p>
                      <p>Cost: {{ drug.cost }}元</p>
                  </li>
                  {% endfor %}
              </ul>
          {% endif %}
          {% if step.payments is not empty %}
              <h5>Payments</h5>
              <ul>
                  {% for payment in step.payments %}
                  <li>
                      <p>Reason: {{ payment.name }}</p>
                      <p>Amount: {{ payment.amount }}元</p>
                  </li>
                  {% endfor %}
              </ul>
          {% endif %}
    </div>
</div>
